// img{
//     background-color: white;
//     width: 30%;
//     height: 200px;
//     position: relative;
//     left: 470px;

// }

.header {
   
    display: flex;
    justify-content: center;
    
    height: 150px;;
  }